<p class="float-left no-drag">
    <input type="text" *ngIf="editWidgetName" [(ngModel)]="widgetname" (ngModelChange)="widgetnameChange($event)" />
    <span *ngIf="!editWidgetName"> {{ widgetname }}</span>
</p>
<button type="button" [disabled]="loading" *ngIf="!editWidgetName" class="no-drag btn-sm btn btn-primary float-right mr-1" (click)="openModal()">
  <i class="fa fa-cog"></i>
</button>
<div class="clearfix"></div>
<div class="spinner-grow text-primary" *ngIf="loading" role="status">
    <span class="sr-only">Loading...</span>
</div>
<div class="card text-white bg-primary mt-3">
    <div class="card-body pb-0">
        <div class="text-value">{{ sumKPICount }}</div>
        <div>{{ widgetTitle }}</div>
    </div>
    <div class="chart-wrapper mt-3 mx-3" style="height:70px;">
        <canvas baseChart class="chart" [datasets]="barChart1Data" [labels]="barChart1Labels" [options]="barChart1Options" [colors]="barChart1Colours" [legend]="barChart1Legend" [chartType]="barChart1Type"></canvas>
    </div>
</div>