<div class="container" style="width:100%;max-width:100%; background-image:url(assets/img/brand/blurred3.jpg);min-height: -webkit-fill-available;background-repeat: no-repeat;background-size: 100%;">
 
  <div style="text-align:center">
    <br /><br />
    <img style="width:17%" src="assets/img/brand/poste-italiane.png" alt="" />
    <br /><br />
    <h2> Benvenuto <b>{{currentUser.username}}</b> </h2>
    <!-->h3 style="font-size:20px">Permessi dell'utente:</h3>
  <ul>
    <li *ngFor="let permission of permissions">
      {{ permission }}
    </li>
  </ul-->
  </div>
</div>

