################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Quantis.Workflow.Complete
/Quantis.WorkFlow.APIBase/bin/Release/netcoreapp2.2
/Quantis.WorkFlow.APIBase/obj
/Quantis.WorkFlow.Models/bin
/Quantis.WorkFlow.Models/obj
/Quantis.WorkFlow.Services/bin/Release/netcoreapp2.2
/Quantis.WorkFlow.Services/obj
/Quantis.WorkFlow.UnitTest/bin
/Quantis.WorkFlow.UnitTest/obj
.vs
/FormAdapterService/FormAdapterService/bin
/FormAdapterService/FormAdapterService/obj
/FormAdapterService/packages
/Quantis.WorkFlow.Jobs/obj
/Quantis.WorkFlow.Jobs/bin/Release/netcoreapp2.2
/Quantis.WorkFlow.Models/Quantis.WorkFlow.Models.csproj.user
