<div class="parent-div">
    <div class="table-responsive remove-grey-area" style="background: #ffffff; padding: 10px">
      <br>
      <h2 style="color:#565656">PROFILAZIONE UTENTE</h2>
      <!-- <div class="row">
        <button class="btn btn-success pull-right" style="margin-left:90%" (click)="saveAssignedPermissions()">Salva</button>
      </div> -->
      <div class="row role-permissions-lists col-md-12">
        <div class="col-md-4">
            <div><label class="lbl-filter-user">Utenti: <strong
                        class="selected-user-title">{{selectedData.name|uppercase}}</strong></label></div>
            <div class="txt-filter-user-div"><input type="text" class="form-control" placeholder="Cerca"
                    [(ngModel)]="filters.searchUsersText" /></div>
            <perfect-scrollbar style="max-height: 360px;">
              
              <ul class="users-list">
                <h5 *ngIf="loading.roles" class="text-center text-primary loader">
                  <span class="fa fa-spinner text-primary fa-spin fa-3x"></span><br /> Caricamento..
                </h5>
                <li *ngFor="let user of gatheredData.usersList | filter : filters.searchUsersText; index as i"
                    (click)="selectRoleItem(user, $event)">{{user.userid}} - {{user.name}} {{user.surname}} [{{user.ca_bsi_account}}]</li>
              </ul>
      
            </perfect-scrollbar>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-7">
          <div><label class="lbl-filter-user">Permessi: <strong
                      class="selected-user-title"></strong></label></div>
          <div class="txt-filter-user-div"><input type="text" class="form-control" placeholder="Cerca"
                  [(ngModel)]="filters.searchPermissionsText" /></div>
          <perfect-scrollbar style="max-height: 360px;">
            
            <ul class="users-list permissions-list1">
              <h5 *ngIf="loading.roles" class="text-center text-primary loader">
                <span class="fa fa-spinner text-primary fa-spin fa-3x"></span><br /> Caricamento..
              </h5>
              <li [ngClass]="{'0':'redClr', '1':'orangeClr', '2':'greenClr'}[perm.code]" *ngFor="let perm of permissionsData | filter : filters.searchPermissionsText; index as i"
                >{{perm.name}}
                <button class="btn btn-warning pull-right ml-1 btn-partial" style="margin-top:-7px" (click)="getContracts(perm)" data-toggle="modal" data-target="#contractsModal"><i class="fa fa-arrow-right"></i></button>
                <button *ngIf="perm.code=='2' || perm.code=='1'" class="btn btn-danger pull-right ml-1 btn-assign" style="margin-top:-7px"  (click)="unAssignedPermissions(perm)"><i class="fa fa-times"></i></button>
                <button *ngIf="perm.code=='0' || perm.code=='1'" class="btn btn-success pull-right btn-unassign" style="margin-top:-7px"  (click)="assignedPermissions(perm)"><i class="fa fa-check"></i></button></li>
            </ul>
    
          </perfect-scrollbar>
        </div>
        <!-- <div class="col-md-7">
            <br><label>Permessi:</label>
            <div class="txt-filter-user-div"><input type="text" class="form-control" placeholder="Cerca"
              [(ngModel)]="filters.searchPermissionsText" /></div>
          <br><br>
          <h5 *ngIf="!isTreeLoaded" class="text-center text-primary loader">
              <span class="fa fa-spinner text-primary fa-spin fa-3x"></span><br /> Caricamento..
          </h5>
          <div *ngFor="let treeObj of treesArray | filter : filters.searchPermissionsText; let i = index" >
              <span [hidden]="treeObj.loaded" class="fa fa-spinner text-primary" style="padding-left: 35px; height: 35px;">loading..</span>
            <ejs-treeview [hidden]="!treeObj.loaded"
              #permissionsTree 
              id="{{treeObj.elementId}}" 
              [fields]='treeObj.settings' 
              [showCheckBox]='true' 
              [checkedNodes]="treeObj.checkedNodes" 
              (nodeChecked)='syncSelectedNodesArray($event, treeObj)' >
            </ejs-treeview>
          </div>
  
        </div> -->
      </div><br>

    </div>
  </div>
  
  
  <div id="contractsModal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="classInfo"
  aria-hidden="true">
  <div class="modal-dialog modal-lg contractsModal">
    <div class="modal-content"> 
      <div class="modal-header">
        <h5 class="modal-title" id="approveModalLabel">Modifica Contraente - {{selectedData.contractParty}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="table-responsive" style="background: #ffffff; padding: 10px">
          <div class="row role-permissions-lists col-md-12">
            <div class="col-md-10">
              <div><label class="lbl-filter-user">Contratti: <strong
                          class="selected-user-title"></strong></label></div>
              <div class="txt-filter-user-div"><input type="text" class="form-control" placeholder="Cerca"
                      [(ngModel)]="filters.searchContractsText" /></div>
                <perfect-scrollbar style="max-height: 350px;">
                
                <ul class="users-list permissions-list1">
                  <h5 *ngIf="loading.roles" class="text-center text-primary loader">
                    <span class="fa fa-spinner text-primary fa-spin fa-3x"></span><br /> Caricamento..
                  </h5>
                  <li [ngClass]="{'0':'redClr', '1':'orangeClr', '2':'greenClr'}[contracts.code]" *ngFor="let contracts of contractsData | filter : filters.searchContractsText; index as i"
                    >{{contracts.name}}
                    <button class="btn btn-warning pull-right ml-1 btn-partial" style="margin-top:-7px" (click)="getKpis(contracts)" data-dismiss="modal" data-toggle="modal" data-target="#kpisModal"><i class="fa fa-arrow-right"></i></button>
                    <button *ngIf="contracts.code=='2' || contracts.code=='1'" class="btn btn-danger pull-right ml-1 btn-assign" style="margin-top:-7px"  (click)="unAssignedContracts(contracts)"><i class="fa fa-times"></i></button>
                    <button *ngIf="contracts.code=='0' || contracts.code=='1'" class="btn btn-success pull-right btn-unassign" style="margin-top:-7px"  (click)="assignedContracts(contracts)"><i class="fa fa-check"></i></button></li>
                </ul>
        
              </perfect-scrollbar>
              </div>
            </div>    
        </div>  
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Chiudi</button>
      </div>
    </div>
  </div>
  </div>
  
  
  <div id="kpisModal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="classInfo"
  aria-hidden="true">
  <div class="modal-dialog modal-lg kpisModal">
    <div class="modal-content"> 
      <div class="modal-header">
        <h5 class="modal-title" id="approveModalLabel">Modifica Contratto - {{selectedData.contractName}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="table-responsive" style="background: #ffffff; padding: 10px">
          <div class="row role-permissions-lists col-md-12">
            <div class="col-md-12">
              <div><label class="lbl-filter-user">Kpis: <strong
                          class="selected-user-title"></strong></label></div>
              <div class="txt-filter-user-div"><input type="text" class="form-control" placeholder="Cerca"
                      [(ngModel)]="filters.searchKpisText" /></div>
              <perfect-scrollbar style="max-height: 350px;">
                
                <ul class="users-list permissions-list1">
                  <h5 *ngIf="loading.roles" class="text-center text-primary loader">
                    <span class="fa fa-spinner text-primary fa-spin fa-3x"></span><br /> Caricamento..
                  </h5>
                  <li [ngClass]="{'0':'redClr', '1':'greenClr'}[kpis.code]" *ngFor="let kpis of kpisData | filter : filters.searchKpisText; index as i"
                    >{{kpis.name}}
                    <input type="checkbox" (change)="storeKpis(kpis, $event)" [attr.checked]="kpis.code == '1' ? 'checked' : null" class="pull-right"></li>
                </ul>
        
              </perfect-scrollbar>
              </div>
            </div>    
        </div>  
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal" data-toggle="modal" data-target="#contractsModal">Indietro</button>
        <button type="button" class="btn btn-success" data-dismiss="modal" (click)="assignKpis()">Salva</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Chiudi</button>
      </div>
    </div>
  </div>
  </div>