<div style="margin-top: -20px;">
  <!-- <h2 style="color:#565656">Catalogo</h2><br>-->
 <div class="table-responsive" style="background: #ffffff; padding: 10px">
        <br><h2 style="color:#565656">LISTA UTENTI DA CONSOLIDARE</h2><br>
        <!--div class="row">
            <input type="text" class="form-control ml-3 mr-1" style="width:20%;" placeholder="Nome" #searchCol1/>
            <input type="text" class="form-control ml-1 mr-3" style="width:20%;" placeholder="Cognome" #searchCol2/>
           <button #btnFilter class="mr-2" style="padding-left: 25px; padding-right: 25px">FILTRA</button>
  <button #btnExportCSV style="padding-left: 25px; padding-right: 25px">Esporta CSV</button>
</div--> 
<table class="table stripe" #UserTable datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
  <thead style="background: #20a8d8">
    <tr style="color:white;font-size:12px;">
      <th style="text-align:center">USER ID</th>
      <th style="text-align:center">USERNAME</th>
      <th style="text-align:center">EMAIL</th>
      <th style="text-align:center">ORGANIZZAZIONE</th>
      <th style="text-align:center">STATUS</th>
      <th style="text-align:center">AZIONE</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of UtentiTableBodyData; index as i" style="font-size:13px">
      <td style="text-align:center">{{row.user_id}}</td>
      <td style="text-align:center">{{row.user_name}}</td>
      <td style="text-align:center">{{row.user_email}}</td>
      <td style="text-align:center">{{row.user_organization_name}}</td>
      <td style="text-align:center">{{row.user_status}}</td>
      <td align="center">
        <button class="btn btn-primary" data-toggle="modal" (click)="populateModalData(row)"
                data-target="#utentiModal" style="font-size:10px">
          <i class="fa fa-pencil"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>
    </div>
  </div>

<div id="utentiModal" class="modal fade bs-example-modal-lg" style="width:100% !important" tabindex="-1" role="dialog" aria-labelledby="classInfo"
     aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <!--        <h5 class="modal-title" id="approveModalLabel">Giustificativo</h5>-->
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-->div class="table-responsive" style="background: #ffffff; padding: 10px"-->
        <table id="classTable" class="table table-bordered">
          <thead style="background: #E6E6E6">
          </thead>
          <tbody>
            <tr><th>BSI ACCOUNT</th><td>{{modalData.ca_bsi_account}}</td></tr>
            <tr><th>BSI USER ID</th><td>{{modalData.ca_bsi_user_id}}</td></tr>
            <tr><th>NOME</th><td><input type="text" class="form-control" [(ngModel)]="modalData.name"></td></tr>
            <tr><th>COGNOME</th><td><input type="text" class="form-control" [(ngModel)]="modalData.surname"></td></tr>
            <tr><th>STRUTTURA</th><td><input type="text" class="form-control" [(ngModel)]="modalData.organization"></td></tr>
            <tr><th>MAIL</th><td><input type="text" class="form-control" [(ngModel)]="modalData.mail"></td></tr>
            <tr><th>USER DOMAIN ID</th><td><input type="text" class="form-control" [(ngModel)]="modalData.userid"></td></tr>
            <tr><th>RESPONSABILE</th><td><input type="text" class="form-control" [(ngModel)]="modalData.manager"></td></tr>
          </tbody>
        </table>
        <!--div-->
      </div>
      <div class="modal-footer">
        <button (click)="updateUtenti()" class="btn btn-success">Aggiorna</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Chiudi</button>
      </div>
    </div>
  </div>
</div>
