<p class="float-left no-drag">
  {{id}}:
  <input type="text" [(ngModel)]="widgetname" (ngModelChange)="widgetnameChange($event)" />
  {{ widgetname }}
</p>
<button type="button" class="no-drag btn-sm btn btn-primary float-right mr-1" (click)="openModal()">
  <i class="fa fa-cog"></i>
</button>
<div class="clearfix"></div>
<div class="spinner-grow text-primary" *ngIf="loading" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div style="display: block;">
  <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
    [legend]="barChartLegend" [chartType]="barChartType" (chartHover)="chartHovered($event)"
    (chartClick)="chartClicked($event)"></canvas>
</div>