<div class="animated fadeIn">

  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <div *ngIf="loading" class="text-center">
            <span class="fa fa-spinner text-primary fa-spin fa-3x"></span>
          </div>
          <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
            class="table table-responsive-sm table-hover table-outline mb-0">
            <thead class="thead-light">
              <tr>
                <th class="text-center">No.</th>
                <th class="text-center">Form ID</th>
                <th class="text-center">Nome Form</th>
                <th class="text-center">Numero di allegati</th>
                <th class="text-center">Data ultimo caricamento</th>
                <th class="text-center">Azione</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngIf="loadingForms.length === 0 && !loading">
                <td colspan="7">
                  <strong>
                    Nessun Loading Form assegnato all'utente
                  </strong>
                </td>
              </tr>
              <tr *ngFor="let loadingForm of loadingForms; let i = index"
                [ngClass]="{'active': cutOffRow(loadingForm)}">
                <td>
                  <div class="text-center">{{ i+1 }}</div>
                </td>
                <td>
                  <div class="text-center">{{ loadingForm.form_id }}</div>
                </td>
                <td>
                  <div class="text-center">{{ loadingForm.form_name }}</div>
                </td>
                <td>
                  <div class="text-center">
                    <span class="badge badge-success">
                      {{ loadingForm.attachmentscount || 'N/A' }}
                    </span>
                  </div>
                </td>
                <td>
                  <div class="text-center">{{ loadingForm.latest_input_date | date: 'dd/MM/yyyy, h:mm a' || 'N/A' }}
                  </div>
                </td>
                <td>
                  <div class="text-center">
                    <a [routerLink]="['/loading-form/utente', loadingForm.form_id, loadingForm.form_name]"
                      class="btn btn-info btn-sm text-white"><span class="fa fa-edit"></span></a>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>
