<div style="margin-top: -25px; padding: 10px"><br />
  <div class="table-responsive" style="background: #ffffff; padding: 5px; height:100%; width: 100%;">
    <br><h2 style="color:#565656">Catalogo KPI</h2><br>
    <div class="row">
      <input type="text" class="form-control ml-3 mr-1" style="width:15%;" placeholder="ID KPI" #searchCol1 [(ngModel)]="viewModel.filters.idKpi" name="idKpi" />
      <input type="text" class="form-control ml-1 mr-1" style="width:15%;" placeholder="Titolo Breve" #searchCol2 [(ngModel)]="viewModel.filters.titoloBreve" name="titoloBreve" />
      <input type="text" class="form-control ml-1 mr-1" style="width:15%;" placeholder="Referenti" #searchCol3 [(ngModel)]="viewModel.filters.referenti" name="referenti" />
      <span>&nbsp;&nbsp;</span>
      <select class="form-control" style="width:15%;" #searchCol4 [(ngModel)]="viewModel.filters.tuttiContratti" name="tuttiContratti"><option value="">Tutti i Contratti</option></select>
      <span>&nbsp;&nbsp;</span>
      <select class="form-control" style="width:15%;" #searchCol5 [(ngModel)]="viewModel.filters.tutteLeFrequenze" name="tutteLeFrequenze">
        <option value="">Tutte le Frequenze</option>
        <option value="MENSILE">MENSILE</option>
        <option value="TRIMESTRALE">TRIMESTRALE</option>
        <option value="QUADRIMESTRALE">QUADRIMESTRALE</option>
        <option value="SEMESTRALE">SEMESTRALE</option>
        <option value="ANNUALE">ANNUALE</option>
      </select>
      <span>&nbsp;&nbsp;</span>
      <button class="ml-2" #btnExporta>Esporta CSV</button>
      <!-- <button class="btn btn-primary ml-2" (click)="reload()">Refresh Table</button> -->
    </div><br />
    <h5 *ngIf="loading" class="text-center text-primary">
      <span class="fa fa-spinner text-primary fa-spin fa-3x"></span><br /> Caricamento in corso..
    </h5>
    
      <div class="top-scroll-container" #topScrollContainer>
        <div #topScroll>&nbsp;</div>
      </div>
      <div class="top-scroll-table-container" #topScrollTblContainer>  
        <table class="table stripe kpiTable" #kpiTable id="kpiTable" [ngStyle]="{'display': loading? 'none' : 'unset'}" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
          <thead>
            <tr style="color:white;font-size:12px;">
              <th style="text-align:center">CONTRATTO</th>
              <th style="text-align:center">ID</th>
              <th style="text-align:center">TITOLO BREVE</th>
              <th width="50%" style="text-align:center">KPI</th>
              <th style="text-align:center">CARICAMENTO</th>
              <th style="text-align:center">FREQUENZA</th>
              <th style="text-align:center">TARGET</th>
              <th style="text-align:center">TIPOLOGIA</th>
              <th class="notExportCsv" style="text-align:center">ABILITATO</th>
              <th class="notExportCsv" style="text-align:center">REMINDER</th>
              <th class="notExportCsv" style="text-align:center">WORKFLOW</th>
              <th class="notExportCsv" style="text-align:center">REFERENTI</th>
              <th class="notExportCsv" style="text-align:center">CALCOLO</th>
              <th class="notExportCsv" style="text-align:center"></th>
              <th style="display:none;" width="0" class="notExportCsv">hide</th>
              <th style="display:none;" width="0" class="notExportCsv">hide</th>
            </tr>
          </thead>
          <tbody>

            <tr *ngFor="let row of kpiTableBodyData; index as i" style="font-size:13px">
              <!--        <td align="center"><input type="checkbox"/></td>-->
              <td [ngClass]="isNumber(row.contract) ? 'rightAlign' : 'leftAlign'">{{row.contract_name}}</td>
              <td [ngClass]="isNumber(row.id_kpi) ? 'rightAlign' : 'leftAlign'">{{row.id_kpi}}</td>
              <td [ngClass]="isNumber(row.id_kpi) ? 'rightAlign' : 'leftAlign'">{{row.short_name}}</td>
              <td class="tagsTip" width="50%" [ngClass]="isNumber(row.kpi_name_bsi) ? 'rightAlign' : 'leftAlign'" data-ext="" attr.data-ext="{{row.kpi_name_bsi}}">{{row.kpi_name_bsi | slice:0:130}} [...]</td>
              <td [ngClass]="isNumber(row.source_type) ? 'rightAlign' : 'leftAlign'">{{row.source_type}}</td>
              <td [ngClass]="isNumber(row.tracking_period) ? 'rightAlign' : 'leftAlign'">{{row.tracking_period}}</td>
              <td>{{row.target}}</td>
              <td [ngClass]="rightAlign"><b>Tipo: </b>{{row.kpi_type}}<br /><b>Fornitura: </b>{{row.source_name}}</td>
              <td class="notExportCsv" align="center" *ngIf="row.enable; then trueBlock else falseBlock"></td>
              <td class="notExportCsv" align="center" *ngIf="row.enable_rm; then trueBlock else falseBlock"></td>
              <td class="notExportCsv" align="center" *ngIf="row.enable_wf; then trueBlock else falseBlock"></td>
              <ng-template #trueBlock><td class="notExportCsv" align="center">&#10004;</td> </ng-template>
              <ng-template #falseBlock><td class="notExportCsv" align="center">&#10006;</td> </ng-template>
              <td class="notExportCsv" align="center"><button class="btn" data-toggle="modal" data-target="#referentiModal" (click)="populateModalData(row)"><i class="fa fa-user" style="font-size:20px;"></i></button></td>
              <td class="notExportCsv" align="center"><button class="btn" data-toggle="modal" data-target="#calcoloModal" (click)="coloBtn(row.kpi_computing_description)"><i class="fa fa-edit" style="font-size:20px;"></i></button></td>
              <td class="notExportCsv" align="center">
                <button style="font-size:10px" class="btn btn-primary" data-toggle="modal" (click)="populateModalData(row)"
                        data-target="#kpiModal">
                  <i class="fa fa-pencil"></i>
                </button>
              </td>
              <td style="display:none;" width="0" class="notExportCsv">{{row.referent}},{{row.referent_1}},{{row.referent_2}},{{row.referent_3}}</td>
              <td style="display:none;" width="0">{{row.kpi_name_bsi}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!--/div>
  </div-->
  </div>

<div id="referentiModal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="classInfo" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <!--        <h5 class="modal-title" id="approveModalLabel">Giustificativo</h5>-->
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="table-responsive" style="background: #ffffff; padding: 10px">
          <table id="classTable" class="table stripe">
            <thead style="background: #20a8d8">
            </thead>
            <tbody>
              <tr><th width="20%">REFERENTI_INPUT</th><td width="80%"><input [readonly]="kpiButtonState !== '1'" type="text" class="form-control" [(ngModel)]="modalData.referent"></td></tr>
              <tr><th width="20%">REFERENTI_1</th><td width="80%"><input [readonly]="kpiButtonState !== '1'" type="text" class="form-control" [(ngModel)]="modalData.referent_1"></td></tr>
              <tr><th width="20%">REFERENTI_2</th><td width="80%"><input [readonly]="kpiButtonState !== '1'" type="text" class="form-control" [(ngModel)]="modalData.referent_2"></td></tr>
              <tr><th width="20%">REFERENTI_3</th><td width="80%"><input [readonly]="kpiButtonState !== '1'" type="text" class="form-control" [(ngModel)]="modalData.referent_3"></td></tr>
            </tbody>
          </table>
        </div>
        </div>
        <div class="modal-footer">
          <button [disabled]="kpiButtonState !== '1'" (click)="updateKpi('referents')" class="btn btn-success">Aggiorna</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal">Chiudi</button>
        </div>
      </div>
  </div>
</div>

<div id="calcoloModal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="classInfo" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="approveModalLabel">Descrizione Calcolo</h5>
        <button type="button"   class="close" data-dismiss="modal" aria-label="Close" >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" >
        <textarea class="form-control" disabled style="background:white">{{this.des}}</textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">
          Chiudi
        </button>
      </div>
    </div>
  </div>
</div>

<div id="kpiModal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="classInfo"
     aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="approveModalLabel">Modifica KPI</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="table-responsive" style="background: #ffffff; padding: 10px">
          <table id="classTable" class="table stripe">
            <thead style="background: #20a8d8">
            </thead>
            <tbody>
              <tr><th>CONTRAENTI</th><td><span *ngIf="modalData.primary_contract_party_name != 'Unknown'"><b>Primario: </b>[{{modalData.primary_contract_party}}] {{modalData.primary_contract_party_name}}</span></td><td><span *ngIf="modalData.secondary_contract_party_name != 'Unknow' && modalData.secondary_contract_party_name != null"><b>Secondario: </b>[{{modalData.secondary_contract_party}}] {{modalData.secondary_contract_party_name}}</span></td></tr>
              <tr><th>CONTRATTO</th><td colspan="2">{{modalData.contract_name}}</td></tr>
              <tr><th>NOME KPI BSI</th><td colspan="2">[{{modalData.global_rule_id_bsi}}] {{modalData.kpi_name_bsi}}</td></tr>
              <tr><th>DESCRIZIONE</th><td colspan="2"><input [readonly]="kpiButtonState !== '1'" type="text" class="form-control" [(ngModel)]="modalData.kpi_description"></td></tr>
              <tr><th>CALCOLO</th><td colspan="2"><input [readonly]="kpiButtonState !== '1'" type="text" class="form-control" [(ngModel)]="modalData.kpi_computing_description"></td></tr>
              <tr><th>ID KPI</th><td colspan="2"><input [readonly]="kpiButtonState !== '1'" type="text" class="form-control" [(ngModel)]="modalData.id_kpi"></td></tr>
              <tr><th>TITOLO BREVE</th><td colspan="2"><input [readonly]="kpiButtonState !== '1'" type="text" class="form-control" [(ngModel)]="modalData.short_name"></td></tr>
              <tr>
                <th>LOADING FORM</th>
                <td colspan="2">
                  <select [disabled]="kpiButtonState !== '1'" class="form-control" [(ngModel)]="modalData.id_form">
                    <option value="">Loading Form: </option>
                    <option *ngFor="let item of allForms " value="{{item.form_id}}">{{item.form_name}}</option>
                  </select>
                </td>
              </tr>
              <tr><th>CARICAMENTO</th><td colspan="2"><input [readonly]="kpiButtonState !== '1'" type="text" class="form-control" [(ngModel)]="modalData.source_type"></td></tr>
              <tr>
                <th>FREQUENZA</th>
                <td colspan="2">
                  <select [disabled]="kpiButtonState !== '1'" class="form-control" [(ngModel)]="modalData.tracking_period" name="tracking_period">
                    <option value="MENSILE">MENSILE</option>
                    <option value="TRIMESTRALE">TRIMESTRALE</option>
                    <option value="QUADRIMESTRALE">QUADRIMESTRALE</option>
                    <option value="SEMESTRALE">SEMESTRALE</option>
                    <option value="ANNUALE">ANNUALE</option>
                  </select>
                </td>
              </tr>
              <tr>
                <th>TIPOLOGIA</th>
                <td colspan="2">
                  <select [disabled]="kpiButtonState !== '1'" class="form-control" [(ngModel)]="modalData.kpi_type" name="kpi_type">
                    <option value="P">PENALE</option>
                    <option value="M">MONITORAGGIO</option>
                    <option value="O">OBIETTIVO</option>
                  </select>
                </td>
              </tr>
              <tr><th>FORNITURA</th><td colspan="2"><input [readonly]="kpiButtonState !== '1'" type="text" class="form-control" [(ngModel)]="modalData.source_name"></td></tr>
            </tbody>
          </table>
          <table id="classTable" class="table stripe">
            <thead style="background: #E6E6E6">
            </thead>
            <tbody>
              <tr style="text-align:center"><th >ABILITATO</th><th>REMINDER</th><th>WORKFLOW</th></tr>
              <tr>
                <td align="center"><input [disabled]="kpiButtonState !== '1'" type="checkbox" [(ngModel)]="modalData.enable" /></td>
                <td align="center"><input [disabled]="kpiButtonState !== '1'" type="checkbox" [(ngModel)]="modalData.enable_rm" /></td>
                <td align="center"><input [disabled]="kpiButtonState !== '1'" type="checkbox" [(ngModel)]="modalData.enable_wf" /></td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button [disabled]="kpiButtonState !== '1'" (click)="updateKpi('kpi')" class="btn btn-success">Aggiorna</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Chiudi</button>
      </div>
    </div>
  </div>
</div>
