<div class="animated fadeIn mt-2">
    <div class="row justify-content-center">
        <div class="col-sm-8">
            <div class="card mb-5">
                <div class="card-body text-center">
                    <div *ngIf="loading" class="spinner-grow text-primary" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                    <div class="table-responsive">
                        <div class="float-right mb-3">
                            <button type="button" class="btn btn-success btn-sm" data-toggle="modal"
                                (click)="createDashboard()">
                                <span class="fa fa-plus"></span> Create Dashboard
                            </button>
                        </div>
                        <table class=" table table-hover table-outline text-center mb-0">
                            <thead>
                                <tr>
                                    <th>No.</th>
                                    <th>Dashboard ID</th>
                                    <th>Name</th>
                                    <th>Owner</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngIf="dashboards && dashboards.length === 0">
                                    <td colspan="5">No dashboard found.</td>
                                </tr>
                                <tr *ngFor="let dashboard of dashboards; let i = index">
                                    <td>{{ i+1 }}</td>
                                    <td>{{ dashboard.id }}</td>
                                    <td>{{ dashboard.name }}</td>
                                    <td>{{ dashboard.owner }}</td>
                                    <td>
                                        <button *ngIf="dashboard.isactive"
                                            [routerLink]="['/dashboard/public', dashboard.id]"
                                            class="btn btn-sm btn-primary">
                                            <i class="fa fa-eye"></i>
                                        </button>
                                        <button *ngIf="dashboard.isactive"
                                            [routerLink]="['/dashboard/dashboard', dashboard.id]"
                                            class="btn btn-sm btn-success">
                                            <i class="fa fa-edit"></i>
                                        </button>
                                        <button [ngClass]="dashboard.isactive ? '' : 'text-danger'" class="btn btn-sm btn-dark" (click)="dashboardStatus(dashboard.id, dashboard.isactive)">
                                            <i class="fa fa-power-off"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div bsModal #createDashboardModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-primary" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Create Dashboard</h4>
                <button type="button" class="close" (click)="createDashboardModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- create dashboard model body start -->
                <form [formGroup]="createDashboardForm" (ngSubmit)="onDashboardFormSubmit()">
                    <div class="form-group">
                        <input type="text" formControlName="name" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.name.errors }" placeholder="Enter Dashboard Name"
                            autocomplete="name">
                    </div>
                    <!-- display name error -->
                    <span class="text-danger mb-3"
                        *ngIf="submitted && f.name.errors && f.name.errors.required">Dashboard name
                        obbligatorio</span>
                    <div class="row">
                        <div class="col-6">
                            <button [disabled]="formLoading" type="submit" class="btn-sm btn btn-primary">
                                <span *ngIf="formLoading" class="fa fa-spinner fa-spin"></span> Submit
                            </button>
                        </div>
                    </div>
                </form>
                <!-- create dashboard model body end -->
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>